Repository hoangvutruong513/ng-projects: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

update readme.md
  README.md
Due: prettier --check

update angular minor
  package-lock.json
  package.json
Due: prettier --check

Add test-ng-19 app
  angular.json
  projects/test-ng-19/eslint.config.mjs
  projects/test-ng-19/public/favicon.ico
  projects/test-ng-19/src/app/app.component.css
  projects/test-ng-19/src/app/app.component.html
  projects/test-ng-19/src/app/app.component.spec.ts
  projects/test-ng-19/src/app/app.component.ts
  projects/test-ng-19/src/app/app.config.ts
  projects/test-ng-19/src/app/app.routes.ts
  projects/test-ng-19/src/index.html
  projects/test-ng-19/src/main.ts
  projects/test-ng-19/src/styles.css
  projects/test-ng-19/tsconfig.app.json
  projects/test-ng-19/tsconfig.spec.json
Due: eslint, prettier --check

Add angular material
  angular.json
  package-lock.json
  package.json
  projects/test-ng-19/src/app/app.config.ts
  projects/test-ng-19/src/custom-theme.scss
  projects/test-ng-19/src/index.html
  projects/test-ng-19/src/styles.css
Due: eslint, prettier --check

g
  package-lock.json
  package.json
Due: prettier --check

Add tanstack query
  package-lock.json
  package.json
Due: prettier --check

Update Angular core
  package-lock.json
  package.json
Due: prettier --check

Update Angular Material
  package-lock.json
  package.json
Due: prettier --check

update angular eslint
  package-lock.json
  package.json
Due: prettier --check

update dependencies
  package-lock.json
  package.json
Due: prettier --check

Add prefer signals rule
  eslint.config.mjs
Due: eslint, prettier --check

format loose ends
  projects/test-ng-19/src/custom-theme.scss
Due: none

angular json update
  angular.json
Due: prettier --check

g
  eslint.config.mjs
  projects/test-ng-19/src/app/app.component.css
  projects/test-ng-19/src/app/app.component.html
  projects/test-ng-19/src/app/app.component.ts
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.html
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.spec.ts
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.ts
  projects/test-ng-19/src/app/test-service/test.service.spec.ts
  projects/test-ng-19/src/app/test-service/test.service.ts
  projects/test-ng-19/src/app/test-service/test2.service.spec.ts
  projects/test-ng-19/src/app/test-service/test2.service.ts
Due: eslint, prettier --check

update angular core
  package-lock.json
  package.json
Due: prettier --check

update angular materials
  package-lock.json
  package.json
Due: prettier --check

haha
  README.md
Due: prettier --check

g
  projects/test-ng-19/src/app/app.component.ts
  projects/test-ng-19/src/app/app.routes.ts
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.html
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.spec.ts
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.ts
Due: eslint, prettier --check

content projection experiment
  projects/test-ng-19/src/app/app.routes.ts
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.html
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.spec.ts
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.ts
Due: eslint, prettier --check

g
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.ts
Due: eslint, prettier --check

Remove test-ng-19
  angular.json
  projects/test-ng-19/eslint.config.mjs
  projects/test-ng-19/public/favicon.ico
  projects/test-ng-19/src/app/app.component.spec.ts
  projects/test-ng-19/src/app/app.component.ts
  projects/test-ng-19/src/app/app.config.ts
  projects/test-ng-19/src/app/app.routes.ts
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.html
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.spec.ts
  projects/test-ng-19/src/app/content-projection-experiment/content-projection-experiment.component.ts
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.html
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.spec.ts
  projects/test-ng-19/src/app/content-projection-with-template/content-projection-with-template.component.ts
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.html
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.spec.ts
  projects/test-ng-19/src/app/dynamic-content-projection/dynamic-content-projection.component.ts
  projects/test-ng-19/src/app/test-service/test.service.spec.ts
  projects/test-ng-19/src/app/test-service/test.service.ts
  projects/test-ng-19/src/app/test-service/test2.service.spec.ts
  projects/test-ng-19/src/app/test-service/test2.service.ts
  projects/test-ng-19/src/custom-theme.scss
  projects/test-ng-19/src/index.html
  projects/test-ng-19/src/main.ts
  projects/test-ng-19/src/styles.css
  projects/test-ng-19/tsconfig.app.json
  projects/test-ng-19/tsconfig.spec.json
Due: eslint, prettier --check

update typescript-eslint
  package-lock.json
  package.json
Due: prettier --check

Update packages
  angular.json
  package-lock.json
  package.json
Due: prettier --check

Update dependencies and ESLint configuration
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier --check

Update tanstack query
  package-lock.json
  package.json
Due: prettier --check

Add TailwindCss
  package-lock.json
  package.json
Due: prettier --check

Add a test-ng20-ssr project with SSR support
  angular.json
  eslint.config.mjs
  package.json
  projects/test-ng20-ssr/.postcssrc.json
  projects/test-ng20-ssr/eslint.config.mjs
  projects/test-ng20-ssr/public/favicon.ico
  projects/test-ng20-ssr/src/app/app.config.server.ts
  projects/test-ng20-ssr/src/app/app.config.ts
  projects/test-ng20-ssr/src/app/app.css
  projects/test-ng20-ssr/src/app/app.html
  projects/test-ng20-ssr/src/app/app.routes.server.ts
  projects/test-ng20-ssr/src/app/app.routes.ts
  projects/test-ng20-ssr/src/app/app.spec.ts
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/index.html
  projects/test-ng20-ssr/src/main.server.ts
  projects/test-ng20-ssr/src/main.ts
  projects/test-ng20-ssr/src/server.ts
  projects/test-ng20-ssr/src/styles.css
  projects/test-ng20-ssr/tsconfig.app.json
  projects/test-ng20-ssr/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

Add a some experiments with SSR
  .prettierrc
  package-lock.json
  package.json
  projects/test-ng20-ssr/src/app/app.config.ts
  projects/test-ng20-ssr/src/app/app.css
  projects/test-ng20-ssr/src/app/app.html
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/server.ts
  projects/test-ng20-ssr/src/styles.css
Due: eslint, prettier --check

g
  projects/test-ng20-ssr/src/app/app.config.ts
  projects/test-ng20-ssr/src/app/app.ts
Due: eslint, prettier --check

POC for SSR/Prerender with Tanstack Query, SignalStore
  package-lock.json
  package.json
  projects/test-ng20-ssr/src/app/app.config.ts
  projects/test-ng20-ssr/src/app/app.routes.server.ts
  projects/test-ng20-ssr/src/app/app.routes.ts
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.spec.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
  projects/test-ng20-ssr/src/server.ts
Due: eslint, prettier --check

Remove unused imports
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
Due: eslint, prettier --check

Working out authentication
  projects/test-ng20-ssr/src/app/app.routes.server.ts
  projects/test-ng20-ssr/src/app/app.routes.ts
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/app/home-page/home-page.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.spec.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
  projects/test-ng20-ssr/src/server.ts
Due: eslint, prettier --check

Add packages for session
  package-lock.json
  package.json
  projects/test-ng20-ssr/src/app/app.routes.ts
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/app/cookie-service.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
  projects/test-ng20-ssr/src/server.ts
Due: eslint, prettier --check

Add session cookie
  package-lock.json
  package.json
  projects/test-ng20-ssr/src/app/cookie-service.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
  projects/test-ng20-ssr/src/server.ts
Due: eslint, prettier --check

Remove project from main branch
  projects/test-ng20-ssr/.postcssrc.json
  projects/test-ng20-ssr/eslint.config.mjs
  projects/test-ng20-ssr/public/favicon.ico
  projects/test-ng20-ssr/src/app/app.config.server.ts
  projects/test-ng20-ssr/src/app/app.config.ts
  projects/test-ng20-ssr/src/app/app.routes.server.ts
  projects/test-ng20-ssr/src/app/app.routes.ts
  projects/test-ng20-ssr/src/app/app.spec.ts
  projects/test-ng20-ssr/src/app/app.ts
  projects/test-ng20-ssr/src/app/cookie-service.ts
  projects/test-ng20-ssr/src/app/home-page/home-page.ts
  projects/test-ng20-ssr/src/app/pokemon-summary/pokemon-summary.ts
  projects/test-ng20-ssr/src/index.html
  projects/test-ng20-ssr/src/main.server.ts
  projects/test-ng20-ssr/src/main.ts
  projects/test-ng20-ssr/src/server.ts
  projects/test-ng20-ssr/src/styles.css
  projects/test-ng20-ssr/tsconfig.app.json
  projects/test-ng20-ssr/tsconfig.spec.json
Due: eslint, prettier --check

Remove dead project
  angular.json
Due: prettier --check

refresh package lock
  package-lock.json
Due: prettier --check

Placeholder project
  angular.json
  package.json
  projects/placeholder/eslint.config.mjs
  projects/placeholder/public/favicon.ico
  projects/placeholder/src/app/app.config.server.ts
  projects/placeholder/src/app/app.config.ts
  projects/placeholder/src/app/app.css
  projects/placeholder/src/app/app.html
  projects/placeholder/src/app/app.routes.server.ts
  projects/placeholder/src/app/app.routes.ts
  projects/placeholder/src/app/app.spec.ts
  projects/placeholder/src/app/app.ts
  projects/placeholder/src/index.html
  projects/placeholder/src/main.server.ts
  projects/placeholder/src/main.ts
  projects/placeholder/src/server.ts
  projects/placeholder/src/styles.css
  projects/placeholder/tsconfig.app.json
  projects/placeholder/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,mjs,ts,html}
  prettier --check: (any of: *.{js,mjs,ts,html}) or (any of: *.{css,json,md})
