Repository hoangvutruong513/ng-projects: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "*.{js,mjs,ts,html}": ["eslint", "prettier --check"],
  "*.{css,json,md}": ["prettier --check"]
}

g
  package-lock.json
  package.json
Due: prettier --check

Update Angular Material
  package-lock.json
  package.json
Due: prettier --check

Update angular eslint
  package-lock.json
  package.json
Due: prettier --check

Locked-in packages after Angular 21 update
  package-lock.json
Due: prettier --check

Update tanstack query
  package-lock.json
  package.json
Due: prettier --check

Remove placeholder project
  angular.json
  projects/placeholder/eslint.config.mjs
  projects/placeholder/public/favicon.ico
  projects/placeholder/src/app/app.config.server.ts
  projects/placeholder/src/app/app.config.ts
  projects/placeholder/src/app/app.css
  projects/placeholder/src/app/app.html
  projects/placeholder/src/app/app.routes.server.ts
  projects/placeholder/src/app/app.routes.ts
  projects/placeholder/src/app/app.spec.ts
  projects/placeholder/src/app/app.ts
  projects/placeholder/src/index.html
  projects/placeholder/src/main.server.ts
  projects/placeholder/src/main.ts
  projects/placeholder/src/server.ts
  projects/placeholder/src/styles.css
  projects/placeholder/tsconfig.app.json
  projects/placeholder/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

More refactoring
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint, prettier --check

Add angular aria
  package-lock.json
  package.json
Due: prettier --check

Route reuse test project
  angular.json
  projects/route-reuse-strat/.postcssrc.json
  projects/route-reuse-strat/eslint.config.mjs
  projects/route-reuse-strat/public/favicon.ico
  projects/route-reuse-strat/src/app/app.config.ts
  projects/route-reuse-strat/src/app/app.css
  projects/route-reuse-strat/src/app/app.html
  projects/route-reuse-strat/src/app/app.routes.ts
  projects/route-reuse-strat/src/app/app.spec.ts
  projects/route-reuse-strat/src/app/app.ts
  projects/route-reuse-strat/src/index.html
  projects/route-reuse-strat/src/main.ts
  projects/route-reuse-strat/src/styles.css
  projects/route-reuse-strat/tsconfig.app.json
  projects/route-reuse-strat/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

Create some pages
  projects/route-reuse-strat/src/app/app.css
  projects/route-reuse-strat/src/app/app.html
  projects/route-reuse-strat/src/app/app.ts
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.html
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.ts
  projects/route-reuse-strat/src/app/util/delay-async.ts
Due: eslint, prettier --check

A bunch of components
  .vscode/settings.json
  projects/route-reuse-strat/.prettierrc
  projects/route-reuse-strat/src/app/app.config.ts
  projects/route-reuse-strat/src/app/app.routes.ts
  projects/route-reuse-strat/src/app/app.spec.ts
  projects/route-reuse-strat/src/app/app.ts
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.html
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-index/product-index.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-index/product-index.ts
  projects/route-reuse-strat/src/app/feature/product/product.routes.ts
  projects/route-reuse-strat/src/app/feature/product/store/product-detail.store.ts
  projects/route-reuse-strat/src/styles.css
Due: eslint, prettier --check

Manufacturer Detail Page
  projects/route-reuse-strat/src/app/app.routes.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/manufacturer.routes.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-index/manufacturer-index.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-index/manufacturer-index.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/store/manufacturer.store.ts
  projects/route-reuse-strat/src/app/feature/order/page/order-detail/order-detail.ts
  projects/route-reuse-strat/src/app/feature/product/model/product.ts
  projects/route-reuse-strat/src/app/feature/product/store/product-detail.store.ts
Due: eslint, prettier --check

Add linkage
  projects/route-reuse-strat/.prettierrc
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/product/model/product.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.ts
Due: eslint, prettier --check

model change
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
Due: eslint, prettier --check

Add h3
  package-lock.json
  package.json
Due: prettier --check

Add docker-compose
  docker-compose.yml
Due: none

Update packages again
  package-lock.json
  package.json
Due: prettier --check

refresh packages 1 more time
  package-lock.json
  package.json
Due: prettier --check

Add an ssr app
  angular.json
  package.json
  projects/test-ssr/.postcssrc.json
  projects/test-ssr/eslint.config.mjs
  projects/test-ssr/public/favicon.ico
  projects/test-ssr/src/app/app.config.server.ts
  projects/test-ssr/src/app/app.config.ts
  projects/test-ssr/src/app/app.css
  projects/test-ssr/src/app/app.html
  projects/test-ssr/src/app/app.routes.server.ts
  projects/test-ssr/src/app/app.routes.ts
  projects/test-ssr/src/app/app.spec.ts
  projects/test-ssr/src/app/app.ts
  projects/test-ssr/src/index.html
  projects/test-ssr/src/main.server.ts
  projects/test-ssr/src/main.ts
  projects/test-ssr/src/server.ts
  projects/test-ssr/src/styles.css
  projects/test-ssr/tsconfig.app.json
  projects/test-ssr/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

Test server context
  projects/test-ssr/src/app/app.html
  projects/test-ssr/src/app/app.routes.server.ts
  projects/test-ssr/src/main.server.ts
Due: eslint, prettier --check

Example server-hono.ts to test Hono integration
  angular.json
  package-lock.json
  package.json
  projects/test-ssr/src/main.server.ts
  projects/test-ssr/src/server-hono.ts
Due: eslint, prettier --check

Make it work with static files too
  projects/test-ssr/src/app/app.config.ts
  projects/test-ssr/src/server-hono.ts
Due: eslint, prettier --check

Working prototype for Angular SSR with Hono and H3 servers
  angular.json
  projects/test-ssr/src/server-h3.ts
  projects/test-ssr/src/server-hono.ts
Due: eslint, prettier --check

Small change to route
  angular.json
  projects/test-ssr/src/server-h3.ts
  projects/test-ssr/src/server-hono.ts
Due: eslint, prettier --check

add testing stuff
  angular.json
  package-lock.json
  package.json
  projects/route-reuse-strat/tsconfig.spec.json
  projects/test-ssr/src/app/app.spec.ts
  projects/test-ssr/tsconfig.spec.json
  test-providers.ts
  test-setup.ts
  vitest.config.ts
Due: eslint, prettier --check

relock dependencies
  angular.json
  package-lock.json
  package.json
Due: prettier --check

Migrate tests
  .gitignore
  angular.json
  projects/route-reuse-strat/src/app/app.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-index/manufacturer-index.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-index/product-index.spec.ts
Due: eslint, prettier --check

g
  angular.json
  package-lock.json
  package.json
  projects/components/README.md
  projects/components/eslint.config.mjs
  projects/components/ng-package.json
  projects/components/package.json
  projects/components/src/lib/components.spec.ts
  projects/components/src/lib/components.ts
  projects/components/src/public-api.ts
  projects/components/tsconfig.lib.json
  projects/components/tsconfig.lib.prod.json
  projects/components/tsconfig.spec.json
  tsconfig.json
Due: eslint, prettier --check

Trying out secondary entrypoint for components library
  angular.json
  projects/components/button/ng-package.json
  projects/components/button/src/button.spec.ts
  projects/components/button/src/button.ts
  projects/components/button/src/public-api.ts
  projects/components/src/public-api.ts
  projects/components/tsconfig.lib.json
  projects/components/tsconfig.spec.json
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
  tsconfig.json
Due: eslint, prettier --check

Add manufacturer detail page
  projects/route-reuse-strat/src/app/app.config.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.html
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
Due: eslint, prettier --check

Add explicit effect
  package-lock.json
  projects/components/src/lib/explicit-effect.ts
  projects/components/src/public-api.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.html
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
Due: eslint, prettier --check

Fix some tsconfig stuff, add explicitEffect
  angular.json
  package-lock.json
  projects/components/src/lib/explicit-effect.ts
  projects/test-ssr/src/test-providers.ts
  projects/test-ssr/src/test-setup.ts
  projects/test-ssr/src/vitest.config.ts
  projects/test-ssr/tsconfig.app.json
  projects/test-ssr/tsconfig.spec.json
Due: eslint, prettier --check

Remove stale project
  projects/route-reuse-strat/.postcssrc.json
  projects/route-reuse-strat/.prettierrc
  projects/route-reuse-strat/eslint.config.mjs
  projects/route-reuse-strat/public/favicon.ico
  projects/route-reuse-strat/src/app/app.config.ts
  projects/route-reuse-strat/src/app/app.routes.ts
  projects/route-reuse-strat/src/app/app.spec.ts
  projects/route-reuse-strat/src/app/app.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/manufacturer.routes.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/model/manufacturer.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.html
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-detail/manufacturer-detail.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-index/manufacturer-index.spec.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/page/manufacturer-index/manufacturer-index.ts
  projects/route-reuse-strat/src/app/feature/manufacturer/store/manufacturer.store.ts
  projects/route-reuse-strat/src/app/feature/product/model/product.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-detail/product-detail.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-index/product-index.spec.ts
  projects/route-reuse-strat/src/app/feature/product/page/product-index/product-index.ts
  projects/route-reuse-strat/src/app/feature/product/product.routes.ts
  projects/route-reuse-strat/src/app/feature/product/store/product-detail.store.ts
  projects/route-reuse-strat/src/app/util/delay-async.ts
  projects/route-reuse-strat/src/index.html
  projects/route-reuse-strat/src/main.ts
  projects/route-reuse-strat/src/styles.css
  projects/route-reuse-strat/tsconfig.app.json
  projects/route-reuse-strat/tsconfig.spec.json
Due: eslint, prettier --check

Move test setup to project-based
  angular.json
  projects/components/test-providers.ts
  projects/components/test-setup.ts
  projects/components/tsconfig.spec.json
  projects/components/vitest.config.ts
  tsconfig.json
Due: eslint, prettier --check

More cleanup
  projects/test-ssr/src/main.server.ts
  test-providers.ts
  test-setup.ts
  vitest.config.ts
Due: eslint, prettier --check

Some experimentation
  projects/test-ssr/src/app/app.config.ts
  projects/test-ssr/tsconfig.app.json
  projects/test-ssr/tsconfig.spec.json
Due: eslint, prettier --check

Cleanup
  package-lock.json
  package.json
  projects/components/tsconfig.lib.json
  projects/components/tsconfig.lib.prod.json
  projects/components/tsconfig.spec.json
  projects/test-ssr/src/app/app.config.ts
  projects/test-ssr/tsconfig.app.json
  projects/test-ssr/tsconfig.spec.json
Due: eslint, prettier --check

More cleanup
  eslint.config.mjs
  projects/components/tsconfig.lib.json
  projects/components/tsconfig.lib.prod.json
  projects/components/tsconfig.spec.json
  projects/test-ssr/tsconfig.app.json
  projects/test-ssr/tsconfig.spec.json
Due: eslint, prettier --check

Update library
  projects/components/package.json
Due: prettier --check

Update angular components package
  package-lock.json
  package.json
Due: prettier --check
